.depend
lumail
lumailctl
lumail-debug
TODO.local
core
debian/files
debian/lumail/
debian/lumail-dbg/
debian/*.substvars
debian/*.log
util/attachments
util/add-attachments-to-simple-mail
util/dump-headers
util/dump-mime
util/dump-parts
util/parse-fmt
obj.debug
obj.release
gmon.out
