Source: lumail
Section: mail
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>> 7.0.0), libncursesw5-dev, liblua5.1-0-dev, pkg-config, libpcre3-dev, libgmime-2.6-dev
Standards-Version: 3.9.4
Homepage: http://www.lumail.org/

Package: lumail
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Modal text-based mail client.
 This is the lumail modal-email client for console use.

Package: lumail-dbg
Architecture: any
Priority: extra
Section: debug
Depends: ${misc:Depends}, ${shlibs:Depends}, lumail (= ${binary:Version})
Description: Modal text-based mail client.
 This is the lumail modal-email client for console use, compiled
 with debugging enabled.
