#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1



#
# Uncomment these lines to enable fortifying source
#
# This will result in broken builds.
#
#export CPPFLAGS=$(shell dpkg-buildflags --get CPPFLAGS) $(shell dpkg-buildflags --get CFLAGS)
#export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)


build: build-stamp

build-stamp:
	dh_testdir

	# Add here commands to compile the package.

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	make lumail-debug
	rm *.o
	make lumail
	rm *.o
	dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installman debian/lumail.man
	dh_installchangelogs
	dh_installinit
	dh_compress
	dh_fixperms
	dh_strip --dbg-package=lumail-dbg
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do here

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
